# Arquivos e pastas a serem ignorados ao empacotar a extensão VS Code

# Diretórios de build e temporários
# A pasta 'out' é necessária, mas seus arquivos .map não
out/**/*.map

# Arquivos fonte (TypeScript) - não necessários na extensão final
src/

# Arquivos de controle de versão
.git/
.gitignore

# Arquivos de configuração do VS Code (geralmente não necessários na extensão publicada)
.vscode/

# Logs e arquivos temporários
npm-debug.log*
yarn.lock
package-lock.json

# Excluir o próprio .vsix
*.vsix
