# Arquivos e pastas a serem ignorados ao empacotar a extensão VS Code

# Diretórios de build e temporários
out/          # Exclui a pasta de saída (arquivos .js e .map)
!out/**/*.js  # Inclui apenas os arquivos JavaScript compilados da pasta 'out'
*.map         # Exclui todos os arquivos de mapa de origem

# Arquivos fonte (TypeScript) - não necessários na extensão final
src/

# Dependências do Node.js


# Arquivos de controle de versão
.git/
.gitignore

# Arquivos de configuração do VS Code (geralmente não necessários na extensão publicada)
.vscode/

# Logs e arquivos temporários
npm-debug.log*
yarn.lock
package-lock.json
